canvas#scene {
    -moz-box-shadow: 10px 10px 20px 0px #9b9b9b;
    -webkit-box-shadow: 10px 10px 20px 0px #9b9b9b;
    -o-box-shadow: 10px 10px 20px 0px #9b9b9b;
    box-shadow: 10px 10px 20px 0px #9b9b9b;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=20);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.loaderAnimation {
    margin-bottom: 20px;

    border: 10px solid #f3f3f3; /* Light grey #f3f3f3 */
    border-top: 10px solid #3498db; /* Blue #3498db */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}